/* use more intuitive box-sizing model, see: https://css-tricks.com/box-sizing/#aa-universal-box-sizing */
*, *:before, *:after {
    box-sizing: border-box;
}

/* remove body margin */
body {
    margin: 0;
}

/* responsive images */
.img-responsive {
    max-width: 100%;
    height: auto;
}

/* make buttons wide, touch-friendly and legible */
button {
    min-height: 48px;
    width: 100%;
    margin-top: 10px;
    text-transform: uppercase;
}

/* centered content container */
main {
    max-width: 480px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    margin: auto;
}
